$btn-bgcolor: #4d81c9;
$btn-color: #ffffff;
$bg-color: #34666885;
$shadow-color: #ed647b;
$active-color: #ff0000;
$text-hover-color: #ffffff;
$border-color: #000000;
$text-color: #2b2a2a;
$bg-color-nav: #f8f7f5;
