.user-wrapper {
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgba(100, 102, 140, 0.371);
  margin-bottom: 25px;
  margin-right: 25px;
}

@media only screen and (min-width: 450px) {
  .user-wrapper {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .user-wrapper {
    width: 30%;
  }
}

@media only screen and (min-width: 1000px) {
  .user-wrapper {
    width: 20%;
  }
}

.user-info {
  text-decoration: none;
  color: rgba(28, 28, 28, 0.816);
}
