$btn-bgcolor: #4d81c9;
$btn-color: #ffffff;

.lng-btn {
  font-weight: 400;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.active {
  font-weight: 700;
}
